@font-face{
    font-family:'digital-7';
    src: url('../fonts/digital-7.ttf');
   }
   
   * {
       margin: 0;
       padding: 0;
   }
   
   body {
       color: #000;
       background-color: #000000;
       font-family: 'digital-7', sans-serif;
       padding: 10px;
   }
   
   .main{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
   }
   
   .main-block{
       height: 70%;
       box-shadow: 0px 0px 10px white;
       width: 500px;
       border-radius: 15px;
       background-color: white;
   }

   .main-block-info{
        display: block;
        padding: 3%;
   }

   .resume-img{
        float: left;
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        background-image: url(../img/avatar.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 3%;
   }

   .resume-pre-info{
       display: flex;
   }

   .resume-info{
       display: flex;
       margin-top: 2%;
   }

   .back{
       color: rgb(16, 253, 233);
       opacity: 0.3;
       z-index: -1;
       font-size: 50px;
       position: relative; 
       display: inline-block;
       text-shadow: 3px 3px 4px rgb(123, 224, 224);
       padding: 0px 0px 0px 2px;
   }

   .main-footer{
       position: absolute;
   }

   .stop-button{
       cursor: hand;
       float: right;
       display: block;
       border-radius: 10px;
       height: 30px;
       width: 90px;
       background: red;
   }
   